<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fast Dashboard</title>
  <link rel="stylesheet" href="static/css/main.css">
  <script src="https://code.iconify.design/2/2.0.0/iconify.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js"></script>
</head>

<body>
  <progress id="tick-clock" class="progress is-primary is-small" value="0" max="1"></progress>
  <div class="hero-body">
    <div class="container is-fullhd">
      <h1 class="title">
        Fast Server Dashboard
      </h1>
      <p class="subtitle is-size-4 mt-4">
        Current tick
        <span class="iconify-inline is-size-4" data-icon="ri:timer-line"></span>
        <span class="subtitle has-text-grey-light is-pulled-right">
          <span class="iconify-inline is-size-4" data-icon="ri:timer-fill"></span>
          Next tick in <span id="tick-countdown">?</span>s
        </span>
      </p>
      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-content">
              <p class="subtitle">
                <span class="iconify-inline is-size-5" data-icon="ri:flag-fill"></span>
                Flags received
              </p>
              <p class="title" id="received">
                <span class="has-text-grey-light">...</span>
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-content">
              <p class="subtitle">
                <span class="iconify-inline is-size-5" data-icon="ri:delete-bin-6-fill"></span>
                Duplicates
              </p>
              <p class="title" id="duplicates">
                <span class="has-text-grey-light">...</span>
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-content">
              <p class="subtitle">
                <span class="iconify-inline is-size-5" data-icon="ri:database-2-fill"></span>
                Added to queue
              </p>
              <p class="title" id="queued">
                <span class="has-text-grey-light">...</span>
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-content">
              <p class="subtitle">
                <span class="iconify-inline is-size-5" data-icon="ri:sword-fill"></span>
                Exploits
              </p>
              <p class="title" id="exploits">
                <span class="has-text-grey-light">...</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <p class="subtitle is-size-4 mt-4">
        Flag store
        <span class="iconify-inline is-size-4" data-icon="ri:flag-line"></span>
        <span class="subtitle has-text-grey-light is-pulled-right">
          <span class="iconify-inline is-size-4" data-icon="ri:send-plane-fill"></span>
          Next submit in <span id="submit-countdown">?</span>s
        </span>
      </p>
      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-content">
              <p class="subtitle">
                <span class="iconify-inline is-size-5" data-icon="ri:check-line"></span>
                In queue
              </p>
              <p class="title" id="in-queue">
                <span class="has-text-grey-light">...</span>
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-content">
              <p class="subtitle">
                <span class="iconify-inline is-size-5" data-icon="ri:check-double-line"></span>
                Accepted <span class="has-text-success" id="accepted-delta">+0</span>
              </p>
              <p class="title" id="accepted">
                <span class="has-text-grey-light">...</span>
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-content">
              <p class="subtitle">
                <span class="iconify-inline is-size-5" data-icon="ri:close-line"></span>
                Rejected <span class="has-text-grey-light" id="rejected-delta">+0</span>
              </p>
              <p class="title" id="rejected">
                <span class="has-text-grey-light">...</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="columns mt-6">
        <div class="column is-half">
          <div id="notifications">
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="static/js/main.js"></script>
</body>

</html>